.centering {
    display: flex;
    align-items:  center;
    align-content: center;
    padding: 0 calc((100vw - 800px) / 2);
  }
  
  .intro-container {
    width: 100%;
  }

  .didyaknow {
    align-self: center;
      background-color: #0065b269;
      width: 600px;
      border-radius: 11px;
      padding: 20px;
      font-size: smaller;
      border: 2px solid #fff;
  
      .fa-brands{
        font-size: smaller;
      }
  }
  
  @media screen and (max-width: 768px) {
    .into-container {
        width: 90%;
        padding: 0 20px;
    }
    .didyaknow{
        width: 90%;
    }
  }